.btn {
	border-radius: 0px;
}


.frontpage-banner {
	font-size: 4.5rem;
	font-weight: 300;
	line-height: 1.2;
	color: black;
	text-align:center;
}


.frontpage-container{
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content:  space-evenly;

 }
 